{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                {{ form_start(userForm, { 'action': path('register'), 'method': 'POST'})
                }}
                {{ form_row(userForm.username) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.password) }}
                <button type="submit" class="btn ">Sign up</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}
