{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <ul>
                {% for hp in headphone %}
                    <li>
                        <h5><b>{{ hp.model }}</b></h5>
                    </li>

                    <li>
                        <b> {{ hp.description }}</b>
                    </li>

                    <li>
                        <h6><b>{{ hp.cost }}</b></h6>
                    </li>

                    <li>
                        <b>{{ hp.count }}</b>
                    </li>

                    <li>
                        <b>{{ hp.class }}</b>
                    </li>

                    <hr>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
