{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s3">
            <ul>
                {% for hp in headphone %}

                        <h5><b>{{ hp.model }}</b></h5>

                        <b> {{ hp.description }}</b>

                        <h6><b>{{ hp.cost }}</b></h6>

                        <b>{{ hp.count }}</b>

                        <b>{{ hp.class }}</b>

                    <hr>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
